* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f8fafa;
}
.container {
  list-style: none;
  display: flex;
  gap: 4rem;
}

.navbar {
  width: 100%;
  padding: 2rem;
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar img {
  height: 12rem;
  width: 18rem;
}
.navbar ul {
  color: black;
  padding-right: 30rem;
}

.navbar ul li {
  display: flex;
  text-transform: uppercase;
}

.navbar ul li a {
  text-decoration: none;
}
